*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(bg.jpg);
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
}

.header{
  background-color: gray;
  width: 300px;
  height: 40px;
  text-align: center;
  padding: 25px;
  margin: auto;
  margin-top: 200px;
  box-shadow: 1px 1px 25px 10px;
  opacity: 0.9;
}

.header h1{
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 3px;
  font-weight: bold;
  color: #000000;
}

.sidebar{
  background-color: gray;
  width: 200px;
  height: 700px;
  padding: 25px;
  margin-left: 100px;
  box-shadow: 1px 1px 25px 10px;
  opacity: 0.9;
}

#navigation a{
  display: block;
  font-size: 17px;
  padding: 20px;
  width: 200px;
  text-decoration: none;
  color: black;
}

#navigation a:hover{
  text-decoration: underline;
  font-size: 20px;
}
