* {
    margin: 0;
    padding: 0;
}


.grid-container {
  display: grid;
  grid-template-columns: 16.6% 66.6% 16.6%;
  grid-template-rows: 100px 2000px;
  grid-template-areas: "home-page Header Header" "sidebar-1 content Sidebar2";
}

.Header { grid-area: Header;
        background-color: aqua;
}

.content { grid-area: content; 
background-color: darkblue;}

.sidebar-1 { grid-area: sidebar-1; 
background-color: brown;}

.Sidebar2 { grid-area: Sidebar2; 
background-color: brown;}

.fixed { grid-area: home-page;
background-color: darkgoldenrod;
    position: fixed;
  top: 0;
  left: 0;
  width: 300px;
    height: 95px;
  border: 3px solid #73AD21;
}